.body{
  height: 92vh;
  width: 80vw;
  margin-right: 0px;
}
.boxFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  width: 80vw;
  gap: 5px;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid rgb(40, 49, 65);
  border-radius: 20px;
  width: 500px;
  height: 180px;
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.numSize {
  font-size: 30px;
}
.fontSize {
  font-size: 20px;
}
.transformIcon {
  transform: rotate(90deg);
  width: 40px;
  height: 40px;
}
.icon {
  width: 40px;
  height: 40px;
}
.calendarWidth {
  width: 80vw;
}
.calendar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 60px;
  background-color: rgb(49, 59, 76, 0.8);
  border-radius: 10px;
}
.Week {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 25, 40, 0.8);
  border-radius: 10px;
  width: 90px;
  height: 50px;
  font-size: 20px;
}
.monthAndYear {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 50px;
  font-size: 20px;
  color: rgb(126, 140, 160);
}
.infoBox {
  width: 80vw;
  height: 500px;
  border: 1px solid rgb(40, 49, 65);
  border-radius: 20px;
  margin-top: 20px;
  padding: 40px;
}
.orders {
  color: white;
  font-size: 40px;
}
.store {
  color: rgb(126, 140, 160);
  font-size: 25px;
}
.column {
  display: flex;
  flex-direction: column;
}
.storeFlex {
  display: flex;
  width: 80vw;
  margin-top: 40px;
}
.Customer {
  color: rgb(126, 140, 160);
  width: 300px;
  font-size: 20px;
}
.storeTypes {
  display: flex;
  justify-content: space-around;
  width: 60vw;
}
.types {
  color: rgb(126, 140, 160);
  font-size: 20px;
}
